a {
  text-decoration: none;
  color: inherit;
  cursor: url("./assets/other/cursor.png"), pointer;
}

label {
  font-family: Inconsolata-SemiBold, sans-serif;
  opacity: 0.6;
  // margin-bottom: 24px;
  font-size: 14px;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0px;
  background-color: #666666;
  opacity: 0.4;
}

::-webkit-scrollbar-thumb {
  background-color: #a9a9a900;
  // opacity: 0.3;
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.content {
  height: 100%;
  flex: auto;
  box-sizing: border-box;
}

.form-item {
  padding: 16px 0;
  letter-spacing: 0.05em;
  font-size: 16px;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #5e8191;
  -webkit-text-fill-color: #5e8191;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.entry-enter-active {
  transition-duration: 0.2s;
  transition-property: opacity, transform;
  transition-timing-function: ease;
}
.entry-enter {
  opacity: 0;
  transform: translateX(7em);
}

.fade-leave-active {
  transition-duration: 0.2s;
  transition-property: opacity, transform;
  transition-timing-function: ease;
  // transition: opacity 0.1s ease-in;
  // transition: transform 0.1s ease-in;
}
.fade-enter-active {
  transition-duration: 0.4s;
  transition-property: opacity, transform;
  transition-timing-function: ease;

  // transition: opacity 0.4s ease-in;
  // transition: transform 0.4s ease-in;
  // overflow: hidden;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateX(1em);
}

.slide-leave-active {
  transition-duration: 0.25s;
  transition-property: transform;
  transition-timing-function: ease;
  // transition: opacity 0.1s ease-in;
  // transition: transform 0.1s ease-in;
}
.slide-enter-active {
  transition-duration: 0.25s;
  transition-property: transform;
  transition-timing-function: ease;

  // transition: opacity 0.4s ease-in;
  // transition: transform 0.4s ease-in;
  // overflow: hidden;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(100%);
}

.buttonPrimary {
  font-family: Inconsolata-ExtraBold;
  height: 45px;
  background-color: #f2ba00;
  color: black;
  border: 1px solid transparent;
  border-radius: 2px;
  margin-top: 16px;
  font-size: 14px;

  width: 100%;
  cursor: url("./assets/other/cursor.png"), pointer;

  &:hover {
    background-color: #f2ba00bf;
  }

  &:active {
    background-color: #f2ba00bf;
    border: 2px solid black;
  }
}

.buttonSecondary {
  font-family: Inconsolata-ExtraBold;
  height: 45px;
  background-color: black;
  color: #f2ba00;
  border-radius: 2px;
  margin-top: 16px;
  font-size: 14px;
  border: 1px solid #f2ba00;
  width: 100%;
  cursor: url("./assets/other/cursor.png"), pointer;

  &:hover {
    background-color: #f2ba001a;
  }

  &:active {
    background-color: #f2ba001a;
    border: 2px solid #f2ba00;
  }
}

.divider {
  margin: 16px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.disclaimer {
  font-family: SpaceGrotesk;
  font-size: 14px;
  padding: 8px;
  line-height: 24px;
  margin-top: 32px;
  text-align: center;
  opacity: 0.7;
}

input {
  font-family: Inconsolata;
  background-color: black;
  height: 45px;
  width: 100%;
  font-size: 16px;
  padding-left: 16px;
  box-sizing: border-box;
  margin-top: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: white;
}

.receive-item-0 {
  color: #f2ba00;
}
.receive-item-1 {
  color: #9269b3;
}
.receive-item-2 {
  color: #42b983;
}
.receive-item-3 {
  color: #9b5a3e;
}
.receive-item-4 {
  color: #77abc9;
}

@keyframes loadAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes loadAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes loadAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes loadAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
